.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 30px;
  color: grey;
}

.btn {
  width: 186.4px;
  border-radius: 5px;
  border: none;
  border: 2px solid green;
}

.color-span-error {
  color: red;
  font-size: 20px;
}
