.modal {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 0, 0);
  border-radius: 10px;
  border: none;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: none;
  background-color: rgb(152, 0, 0);
  border-radius: 10px;

  span:hover {
    cursor: pointer;
    color: white;
  }
}

.modalTitle {
  font-size: 18px;
}

.modalBody {
  padding: 20px;
}

.bodyText {
  letter-spacing: 4px;
  text-align: center;
}
