.images-wrapper {
  display: flex;
  justify-content: center;
}

.image {
  width: 400px;
  height: 400px;
  background-size: cover;
  position: absolute;
  display: none;
}

.show1 {
  background-image: url(../IMG/1.jpg);
}

.show2 {
  background-image: url(../IMG/2.jpg);
}

.show3 {
  background-image: url(../IMG/3.jpg);
}

.show4 {
  background-image: url(../IMG/4.jpg);
}

.active {
  display: block;
}

.btn {
  margin-left: 250px;
}

#stop {
  color: red;
  border: none;
  border-radius: 5px;
  border: 2px solid red;
  font-size: 30px;
  cursor: pointer;
  display: block;
  margin: 10px 0px 0px 45px;
}

#start {
  color: green;
  border: none;
  border-radius: 5px;
  border: 2px solid green;
  font-size: 30px;
  cursor: pointer;
  display: block;
}
