.container {
  width: 1280px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  padding-bottom: 38px;
}

.logo {
  padding: 63px 0 38px;
}

.logo a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  color: rgb(59, 180, 236);
}
span {
  color: #000000;
}

.navbar {
  background-color: #35444f;
}

.top-menu {
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  list-style-type: none;
  padding: 26px 50px 26px 50px;
  border-left: 2px solid #ffffff;
}

.link a {
  text-decoration: none;
  font-size: 24px;
  line-height: 28.13px;
  color: #ffffff;
}

.link:nth-last-child(1) {
  border-right: 2px solid #ffffff;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
}

.asaide-main-menu {
  width: 345px;
  border: 1px solid #000000;
}

.main-last-item {
  list-style-type: none;
  padding: 26px 0 26px 38px;
}

.main-last-item a {
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}
.main-article-image {
  width: 885px;
}

.image {
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin-bottom: 38px;
}

.mait-text {
  padding-bottom: 35px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  color: #2c2c2c;
}

.nav-boottom {
  background-color: rgba(99, 105, 110, 0.48);
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
}
.nav-boottom-ul {
  width: 875px;
  display: flex;
  justify-content: space-between;
}

.footer-item {
  padding: 20px 0px;
  list-style-type: none;
  color: #0c1927;
  font-size: 28px;
  line-height: 28px;
}

.footer-span {
  color: #010101;
  font-size: 24px;
  line-height: 24px;
}
