.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
