.borderButton {
  font-size: 16px;
  text-decoration: none;
  padding: 30px 50px;
  display: flex;
  position: relative;
  color: rgb(13, 255, 0);
  border: none;
  border-radius: 35px;
  text-transform: uppercase;
  cursor: pointer;
}
