body {
  font-style: normal;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  min-width: 1200px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.top-background-image {
  background-image: url(../img/SectionsBackground/section-header.jpg);
  margin-bottom: 10px;
}

.top-navbar-fon {
  background: #5e5d5899;
  display: flex;
  justify-content: center;
  margin-bottom: 265px;
}

.navbar {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.navbar-icone {
  display: flex;
  align-items: center;
  margin: 25px 0 25px;
}

.img-letter {
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  margin-left: -43px;
  text-transform: uppercase;
  font-weight: 700;
}

.img-name {
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  margin-left: 20px;
}
.img-name span {
  color: #18cfab;
  font-weight: 700;
}

.list {
  display: flex;
  column-gap: 35px;
  align-items: center;
}

.element-list a {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff99;
  text-transform: uppercase;
  font-weight: bold;
}

.element-list a:hover {
  color: #18cfab;
}

.header-name {
  font-size: 35px;
  line-height: 1px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 75px;
}

.header-name span {
  color: #18cfab;
}

.header-text {
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding-bottom: 65px;
}

.header-name-title-text {
  color: #ffffff99;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 120px;
}

.header-btn {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.header-button {
  box-shadow: 0 -3px 0 white;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  outline: none;
  color: white;
  margin-bottom: 245px;
  cursor: pointer;
}

.explore-btn {
  background-color: #18cfab;
  font-weight: bold;
  padding: 16px 18px;
}

.purchase-btn {
  background-color: #00cbf6;
  font-weight: bold;
  padding: 16px 11px;
}

.option-block {
  display: flex;
  width: calc((100% / 24) * 6);
}

.option-logo {
  width: 100%;
}

.main-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-services-title {
  position: relative;
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 70px;
}

.main-services-title::before {
  position: absolute;
  content: "";
  top: 60px;
  left: calc(50% - 45px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.main-services-title::after {
  position: absolute;
  content: "";
  top: 64px;
  left: calc(50% - 30px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.main-services-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-option-services {
  display: flex;
}

.main-option-services-list {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background: #f8fcfe;
  color: #717171;
  font-size: 16px;
  cursor: pointer;
}
.main-option-services-list li {
  padding: 18px 20px;
  border: 1.5px solid #edefef;
}
.main-option-services-list li:hover {
  border: 1.5px solid #18cfab;
}

li.active {
  background-color: #18cfab;
  color: #ffffff;
}

.img-web {
  display: flex;
}

.img-web img {
  margin-right: 12px;
}

.sec {
  background-image: url(../img/SectionsBackground/Layer\ 21\ 1.png);
}

.main-name {
  color: #18cfab;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 126px 0px 12px;
}

.main-text {
  color: #d8d8d8;
  font-size: 16px;
  font-family: "Montserrat";
  text-align: center;
  padding-bottom: 62px;
}

.main-button {
  text-align: center;
  padding-bottom: 126px;
}

.main-butt {
  color: #ffffff;
  box-shadow: 0 -3px 0 white;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #18cfab;
  font-weight: bold;
  padding: 16px 12px;
  cursor: pointer;
}

.main-work {
  background-color: #e9edef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-work-title {
  position: relative;
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 96px;
  padding-top: 95px;
}

.main-work-title::before {
  position: absolute;
  content: "";
  top: 154px;
  left: calc(50% - 45px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.main-work-title::after {
  position: absolute;
  content: "";
  top: 158px;
  left: calc(50% - 30px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.main-work-list {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  color: #717171;
}

.main-work-list li {
  padding: 14px 16px;
  font-size: 14px;
  font-family: "Montserrat";
  border: 1px solid #dadada;
  cursor: pointer;
}

.main-work-list li:hover {
  border: 1px solid #18cfab;
}

.main-work-img {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px 2px;
  margin-bottom: 70px;
}

.main-work-img img {
  width: 100%;
}

.main-work-button {
  border-radius: 5px;
  border-style: none;
  display: flex;
  background-color: #18cfab;
  margin-bottom: 100px;
  cursor: pointer;
}
.main-work-button:hover {
  opacity: 0.7;
}

.main-work-button img {
  margin: 22px 15px;
}

.span-butt {
  color: #ffffff;
  font-size: 14px;
  padding: 22px 22px 22px 0;
  text-transform: uppercase;
}

.img-load-more {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px 2px;
  margin-top: 2px;
}

.img-load-more img {
  width: 100%;
}

.block-img-none {
  display: none;
}

.block-img {
  display: block;
}

.is-disabled {
  display: none;
}

.main-title-news {
  position: relative;
  color: #4e4e4e;
  font-size: 36px;
  text-align: center;
  font-family: "Montserrat";
  padding-top: 82px;
}

.main-title-news::before {
  position: absolute;
  content: "";
  top: 154px;
  left: calc(50% - 45px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.main-title-news::after {
  position: absolute;
  content: "";
  top: 158px;
  left: calc(50% - 30px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.main-content-amazing {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content-amazing a {
  position: relative;
  text-decoration: none;
}

.main-amazing-data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: #203e38;
  color: #ffffff;
  font-family: "Montserrat";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 68px;
  height: 70px;
  font-size: 16px;
}

.main-amazing-data:hover {
  background-color: #18cfab;
}

.main-amazing-title {
  color: #717171;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  padding: 20px 15px 20px;
}

.main-amazing-title:hover {
  color: #18cfab;
}

.main-amazing-commit {
  color: #777777;
  padding-left: 10px;
  padding-bottom: 48px;
  font-weight: 300;
  font-family: "Montserrat";
  font-size: 14px;
  word-spacing: 8px;
}

.main-container-people {
  background-image: url(../img/SectionsBackground/section-3.jpg);
}

.main-title-people {
  margin-top: 80px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
}

.main-title-people::before {
  position: absolute;
  content: "";
  top: 154px;
  left: calc(50% - 45px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}
.main-title-people::after {
  position: absolute;
  content: "";
  top: 158px;
  left: calc(50% - 30px);
  width: 75px;
  height: 2px;
  background: #18b4cf;
}

.img-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.text-people {
  font-size: 16px;
  font-family: "Montserrat";
  color: #bbbbbb;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-bottom: 36px;
}

.main-hasan-h {
  text-align: center;
  color: #18cfab;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.main-hasan-p {
  text-align: center;
  font-size: 14px;
  color: #bbbbbb;
  padding-bottom: 38px;
}

img {
  vertical-align: middle;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.active-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-slide h2 {
  color: #18cfab;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.active-slide p {
  font-size: 14px;
  color: #bbbbbb;
  padding-bottom: 38px;
}

.active-slide img {
  width: 150px;
  height: 140px;
}

.slider {
  display: flex;
  position: relative;
  padding: 12px 64px;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  height: 100px;
}
.slider__slide {
  display: flex;
  align-self: center;
}

.slider__slide.is-active {
  display: flex;
  align-self: baseline;
}

.slider__slide:not(:last-child) {
  margin-right: 32px;
}

.slider__prev,
.slider__next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #bbbbbb;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 500ms;
  background: rgba(0, 0, 0, 0.1);
  color: #bbbbbb;
}
.slider__prev:hover,
.slider__next:hover {
  background-color: #18cfab;
}

.slider__prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.slider__next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.carusel {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext,
.numbertext a {
  vertical-align: middle;
  font-size: 30px;
  color: #b6ffa3;
  text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
  position: absolute;
  top: 20px;
  left: 10%;
  text-decoration: none;
}
.numbertext a:hover {
  color: #008216;
}

.caption-container {
  text-align: center;
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  padding: 2px 10px;
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em #ffffff;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}
.demo {
  height: 60px;
  width: 60px;
  opacity: 0.6;
}
.demo.cursor.lazyloaded {
  opacity: 0.6;
}
.demo.cursor.lazyloaded.active {
  opacity: 1;
}
.active,
.demo:hover {
  opacity: 1;
}
