body {
  background-color: rgba(20, 20, 20);
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  perspective: 400px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 100px;
}
p {
  margin-bottom: 80px;
}

.scroll-tex {
  color: rgb(260, 230, 0);
  font-size: 5vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 30s infinite linear;
}

@keyframes scroll {
  from {
    top: 0;
    transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -4000px;
    transform: translateZ(-1500px) rotateX(20deg);
  }
}
