.container {
  background-image: url(../img/Фон\ 1.png);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 80px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 55px;
}

.logo {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.logo:hover {
  color: #01813f;
}

.header-nav {
  display: flex;
  gap: 25px;
  margin-left: 915px;
}

.header-text {
  display: flex;
  column-gap: 4px;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  color: #ffffff;
}

.active:hover {
  color: #01813f;
}

.main-container-big {
  padding-bottom: 80px;
}

.main-container {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.icon:hover {
  fill: #01813f;
  color: #01813f;
  background-color: #01813f;
}

.svg-icon :hover {
  fill: #01813f;
}

.header-active::before {
  content: "";
  height: 20px;
  border: 1px solid #ffffffe5;
  background: #ffffffe5;
  display: inline;
  margin-right: 27px;
}

.main-container {
  width: 445px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form {
  width: 325px;
  padding-top: 30px;
}

.main-title-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.main-title {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.main-title::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  display: inline-block;
  position: absolute;
  right: 111px;
}

.main-active {
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
}
.main-active:hover {
  text-decoration: underline;
  color: #01813f;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.active-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #305db8;
  border: none;
  height: 50px;
  width: 160px;
}

.active-button.main-facebook:focus {
  background-color: #022263;
}

.active-button.main-google:focus {
  background-color: #ab1f09;
}

.active-button.main-google {
  background-color: #df4a32;
}

.main-line::before {
  content: "";
  border: 1px solid #2b0d09;
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
  margin-right: 18px;
}
.main-line.normal::before {
  margin-right: 30px;
}

.form-line {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.form-line::after {
  content: "";
  height: 1px;
  width: 150px;
  border: 1px solid #ffffffe5;
  background: #f2f2f2;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 5px;
}

.form-line::before {
  content: "";
  height: 1px;
  width: 150px;
  border: 1px solid #ffffffe5;
  background: #f2f2f2;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 5px;
}

.main-forms {
  width: 300px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 20px;
  margin-bottom: 15px;
}

.main-forms:focus {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  outline: none;
}

.main-checkbox {
  display: flex;
  align-items: center;
}

label .checkbox {
  display: none;
}

.main-checkbox span {
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
  border: 1px solid #f2f2f2;
  background-color: rgba(0, 0, 0, 0.0001);
  border-radius: 2px;
  padding: 3px;
  margin-right: 8px;
}

.main-text-checkbox {
  color: #3cb878;
  display: inline;
}

.main-button {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  margin: 20px auto 40px;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
}

.main-button:focus {
  background-color: #01813f;
}
