body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  background: #313131;
}

.logo {
  align-self: center;
  margin-left: 30px;
}

.logo-text {
  display: contents;
}

.List {
  display: flex;
  list-style-type: none;
  column-gap: 35px;
  align-items: center;
  text-transform: uppercase;
}

.search {
  background-color: #000000;
  width: 70px;
  height: auto;
}

.search-icon {
  padding: 26px;
}

.nav-top a {
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  font-style: normal;
  color: #ffffff;
}

.top-background-image {
  background-image: url(../img/header-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 165px;
  padding-bottom: 75px;
}

.header-text {
  padding-bottom: 45px;
  text-align: center;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.header-button {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  background: #14b9d5;
  font-style: normal;
  color: #ffffff;
  border: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  padding: 17px 30px;
}

.btn {
  background: #89ca62;
  padding: 17px 19px;
}

.container {
  background-color: #f2f2f2;
}

.container-main {
  width: 1170px;
  margin: 0 auto;
}

.container-list {
  padding: 50px 0 50px;
  font-weight: 700;
  color: #18b4cf;
  font-style: normal;
  text-align: center;
  font-size: 27px;
  line-height: 36.5px;
  text-transform: uppercase;
}

.container-list-item {
  max-height: 900px;
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  padding-bottom: 70px;
}

.container-item {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.container-item:hover {
  transform: scale(1.07);
}

.text-item {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  text-align: center;
  color: #353a3d;
}

.parts-background-image {
  background-image: url(../img/parallax-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 588px;
}

.parts-text {
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  text-transform: uppercase;
}

.parts-text::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #18b4cf;
  margin: 90px auto 100px auto;
}

.parts {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 232px);
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.parts-element {
  justify-self: center;
  align-self: center;
}

.parts-image:hover {
  transform: scale(1.05);
}

.latest-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.post-image {
  width: 100%;
  align-items: center;
}

.container-main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(210px, auto));
  gap: 30px;
}

.image1 {
  grid-column: span 3;
}

.image3,
.image5 {
  grid-column: span 2;
}

.image4,
.image6 {
  grid-column: 3/5;
}

.image8 {
  grid-column: 2/5;
}

.main-grid {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.grig-image {
  width: 100%;
}
.text-image {
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  padding: 0 15px;
}
.text-item-image {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
  padding: 15px;
}

.image1,
.image8 {
  display: flex;
}

.main-grid:hover {
  transform: scale(1.07);
}

.small-text-title {
  text-align: center;
}

.copyright {
  background: #000000;
  margin-top: 70px;
}

.blok-copyright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.footer-reserved {
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  font-style: normal;
  font-weight: 400;
  padding: 30px 0;
}

.footer-logo {
  grid-column: end;
}
