.image {
  background-image: url(../img/background\ 1.png);
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
}

.logo {
  position: relative;
}

.logo-images {
  visibility: hidden;
  position: absolute;
  position: absolute;
  left: 0;
}

.logo:hover .title {
  color: #f26522;
}

.logo:hover .logo-images {
  visibility: visible;
}

.title {
  display: inline-block;
  margin-left: 8px;
  color: #ffffff;
  font-style: normal;
  font-size: 29px;
  line-height: 29px;
}

.title-list {
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.header-mail,
.header-tel {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.header-tel {
  text-align: end;
}

.header-mail:hover,
.header-tel:hover {
  color: #f26522;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signatures {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
  padding: 20px 0 40px;
  text-align: center;
}

.main-container-photo {
  position: relative;
}

.main-photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  background: #f26522;
  bottom: 75px;
  height: 55px;
  width: 300px;
  color: #ffffff;
  visibility: hidden;
}

.main-container-photo:hover .main-photo {
  visibility: visible;
}

.main-container-photo:hover .signatures {
  color: #f26522;
}

.text-details::after {
  content: url(../img/Vector\ 1.png);
  margin-left: 15px;
}

.text-from {
  align-self: center;
  justify-self: center;
  font-size: 10px;
  line-height: 10px;
}

.text-price {
  justify-self: center;
  grid-column: 1;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
}

.text-details {
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: center;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
}

.footer-copyright {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  padding: 30px 0 15px;
}
