* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 25px 0;
}

.navbar li {
  font-weight: normal;
  font-style: normal;
}

.image {
  text-align: center;
}

.navbar a {
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 2.7px;
  font-style: normal;
}

.content-heading {
  padding: 48px 0 0;
  letter-spacing: 3.3px;
  text-align: center;
}

.content-lorem {
  font-size: 16px;
  line-height: 26px;
  padding: 38px 0 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.content-vestibulum {
  font-size: 16px;
  line-height: 26px;
  padding: 28px 0 0;
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #373737;
}

.btn-get-started {
  display: flex;
  justify-content: center;
  padding-top: 66px;
}

.btn-get-started button {
  border: none;
  background-color: #ff0000;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
}

footer {
  padding: 40px 105px 30px 713px;
  font-style: normal;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
}
