.focus {
  outline: none;
  border: 5px solid rgb(0, 255, 0);
  border-radius: 20px;
}

.price {
  outline: none;
  border: 5px solid rgb(255, 0, 0);
  border-radius: 20px;
}

.valide-price {
  list-style: none;
}

.input-text {
  color: rgb(0, 255, 0);
}
